<div class="ui inverted segment">
  <div class="ui grid">
    <div class="two wide column">
    </div>
    <div class="eight wide column">
      <div class="ui inverted relaxed horizontal list">
        <div class="item">
          <a routerLink="/guideline/data-privacy-policy" class="textfont">Privacy Policy </a>
        </div>
        <div class="item">
          <a routerLink="/guideline/terms-of-user" class="textfont">Terms of Use</a>
        </div>
        <div class="item">
            <a href="#" class="textfont">About For Water</a>
          </div>
      </div>
    </div>
    <div class="two wide column">
    </div>
  </div>
</div>