<div class="ui inverted segment">
  <div class="ui grid">
    <div class="two wide column">
    </div>
    <div class="eight wide column">
      <div class="ui inverted relaxed horizontal list">
        <div class="item">
          <a class="textfont" routerLink="/guideline/data-privacy-policy">{{resourceService.frmelmnts?.lnk?.privacypolicy}}</a>
        </div>
        <div class="item">
          <a class="textfont" routerLink="/guideline/terms-of-use">{{resourceService.frmelmnts?.lnk?.termsofuse}}</a>
        </div>
        <div class="item">
            <a href="#" class="textfont">{{resourceService.frmelmnts?.lnk?.aboutforwater}}</a>
          </div>
      </div>
    </div>
    <div class="two wide column">
    </div>
  </div>
</div>